@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #FFFFFF; 
    --background_secondary: #33363A; 
    --separators: #545555; 
    --text: #1E1E1E;
    --foreground: #1E1E1E; 
    --card: #FFFFFF;
    --card-foreground: #1E1E1E;
    --popover: #FFFFFF;
    --popover-foreground: #1E1E1E;
    --primary: #FF4400; 
    --primary-foreground: #FFFFFF;
    --secondary: #F1F1F1;
    --secondary-foreground: #1E1E1E;
    --muted: #DCDCDC;
    --muted-foreground: #1E1E1E;
    --accent: #FFC107;
    --accent-foreground: #1E1E1E;
    --destructive: #DC3545;
    --destructive-foreground: #FFFFFF;
    --border: #E0E0E0;
    --input: #F1F1F1;
    --ring: #E0E0E0;
    --chart-1: #FF4400;
    --chart-2: #28A745;
    --chart-3: #FFC107;
    --chart-4: #DC3545;
    --chart-5: #28A745;
    --radius: 0.5rem;
    --sidebar-background: #FFFFFF;
    --sidebar-foreground: #1E1E1E;
    --sidebar-primary: #FF4400;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #FFC107;
    --sidebar-accent-foreground: #1E1E1E;
    --sidebar-border: #E0E0E0;
    --sidebar-ring: #FF4400;
  }

  .dark {
    --background: #1E1E1E; 
    --background_secondary: #33363A; 
    --separators: #545555; 
    --text: #D5E0E0;
    --foreground: #FFFFFF; 
    --card: #33363A;
    --card-foreground: #FFFFFF;
    --popover: #33363A;
    --popover-foreground: #FFFFFF;
    --primary: #FF4400;
    --primary-foreground: #FFFFFF;
    --secondary: #33363A;
    --secondary-foreground: #FFFFFF;
    --muted: #545555;
    --muted-foreground: #FFFFFF;
    --accent: #FFC107;
    --accent-foreground: #1E1E1E;
    --destructive: #DC3545;
    --destructive-foreground: #FFFFFF;
    --border: #545555;
    --input: #33363A;
    --ring: #FF4400;
    --chart-1: #FF4400;
    --chart-2: #28A745;
    --chart-3: #FFC107;
    --chart-4: #DC3545;
    --chart-5: #28A745;
    --radius: 0.5rem;
    --sidebar-background: #33363A;
    --sidebar-foreground: #FFFFFF;
    --sidebar-primary: #FF4400;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #FFC107;
    --sidebar-accent-foreground: #1E1E1E;
    --sidebar-border: #545555;
    --sidebar-ring: #FF4400;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
